a[href]{
    color:#4169e1;
    text-decoration:none;
}
body{
    margin:0;
    overflow-x:hidden;
    font-family:'Google Sans','helvetica','Aiarl',sans-serif;
}
.avatar{
    right:10%;
    width:25%;
    top:10%;
    flex-flow:row wrap;
}
.bg{
    background:url(https://s2.loli.net/2023/01/19/bMh5vPXVDc7sCzu.png)no-repeat;
    background-size:cover;
    width:100vw;
    height:100vh;
    position:fixed;
    left:0px;
    top:0px;
    z-index:-100;
}
.common{
    position:absolute;
    z-index:0;
}
.text-pattern{
    color:white;
    font-size:3vw;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}
.description{
    left:10%;
    width:40%;
    top:15%;
}
.icon{
    width:100%;
    height:64px;
    color:#4169e1;
    padding:8px 0;
    box-sizing:border-box;
}
.item{
    flex-flow:row wrap;
    justify-content:space-around !important;
    align-items:center;
}
.link{
    left:10%;
    width:80vw;
    bottom:15%;
}
.link .fa{
    font-size:3em;
}
.flex{
    display:flex;
}
.flex-center{
    align-items:center;
    justify-content:center;
}
.footer{
    left:0;
    width:100vw;
    bottom:8px;
    font-size:1em !important;
}
.patternoverride{
    flex-flow:column wrap !important;
}
.sized{
    width:80%;
}
.sizeoverride{
    font-size:2vw;
}
